@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

body {
  background-color: #282c34;
  color: white;
  font-family: "Ubuntu", "Lucida Console", Monaco, monospace;
}

.header {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #2dbbef;
  text-align: center;
  font-weight: 700;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #2dbbef;
  text-align: center;
}
